.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 525px) {

  .adviceBox{
    min-width: 350px !important
  }

  .adviceText{
    padding-left: 0;
    padding-right: 0;
    font-size: 25px;
  }

  .adviceNumber{
    font-size: 10px;
  }

  .dividerMobile{
    max-width: 300px;
  }

  .dividerDesktop{
    display: none;
  }

}

@media only screen and (min-width: 526px) {

  .dividerMobile{
    display: none;
  }

  .adviceBox{
    min-width: 550px !important
  }

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dividerPosition
{
  position: absolute;
  bottom: 60px;
}